@import '../../scss/mixins';
@import '../../scss/variables';

.circle {
    border-radius: 50%;
    &--biggest {
      position: absolute;
      background: $circleColorLayer1and2;
      width: 31.625rem;
      height: 31.625rem;
      left: -17.60%;
      @include center;
    }
    &--next-biggest {
      background: $circleColorLayer1and2;
      width: 21.5rem;
      height: 21.5rem;
      @include center;
    }
    &--next-smallest {
      background: $circleColorLayer3;
      width: 14.625rem;
      height: 14.625rem;
      @include center;
    }
    &--smallest {
      background: $circleColorLayer4;
      width: 9.5rem;
      height: 9.5rem;
      @include center;
    }
  }