@import './scss/mixins';
@import './scss/variables';

* {
  box-sizing: border-box;
}
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}


.view {
  @include view;
  padding: 1rem;
  background: $bgGrey;

  
  &--loading {
    background: $black;
  }

  &--alarm-view, &--pause-view {
    background: $viewBg;
  }

}
.button-container {
  grid-row: 3 / span 1;
  @include center;
}

.hej {
  background: blue;
}
