@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

$font: 'PT Sans';

$boldText: 700;
$regularText: 400;

$letterSpacing: 2px;

$smallestText: 1rem;
$smallText: 1.25rem;
$mediumText: 1.5rem;
$bigText: 2rem;
$biggestText: 5rem;
